<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnTogether_Mobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.JoinGroup"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminPanel"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.EditUser"
            android:exported="false" />
        <activity
            android:name=".Activities.WatchProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.RolesEdit"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterTokens"
            android:exported="false" />
        <activity
            android:name=".Activities.AddMeeting"
            android:exported="false" />
        <activity
            android:name=".Activities.MeetingInfo"
            android:exported="false" />
        <activity
            android:name=".Activities.FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditMyProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.TaskStatus"
            android:exported="false" />
        <activity
            android:name=".Activities.ForumAskAdd"
            android:exported="false" />
        <activity
            android:name=".Activities.AddInfo"
            android:exported="false" />
        <activity
            android:name=".Activities.Comments"
            android:exported="false" />
        <activity
            android:name=".Activities.AddNews"
            android:exported="false" />
        <activity
            android:name=".Activities.News"
            android:exported="false" />
        <activity
            android:name=".Activities.Register"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".API.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="remoteMessaging" />
    </application>

</manifest>